<header id="header">
    <div>
      <a href="index.html" ><img src="images/logo.jpg" /></a>
    </div>
    <div id="spacer"></div>
    <span>I <img id="transparent-heart" src="images/transparent_heart.png" />YOU</span>
    <div id="spacer"></div>
    <a href="#">Sign in</a>
</header>

<nav id="navbar">
    <div id="nav-float">
      <h4>How we met</h4>
      <a href="#" id="about">Introduction</a> 
      <div id="spacer"></div>
      <h4>History</h4>
      <div id="spacer"></div>
      <h4>Resources</h4>
      <a href="about.html" id="about">About us</a> 
      <a href="#" id="contact">Contact us</a>
    </div>
</nav>